
<div class="container">
<div class="row" >
    <div class="col-xs-4" ng-repeat-start="img in images">
       <img ng-src="{{img.location}}" class="gallery"/>
    </div>
    <div class="clearfix" ng-if="$index%3==2"></div>
    <div ng-repeat-end=""></div>
</div>

<div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in images track by slide.id" index="slide.id">
        <img ng-src="{{slide.location}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.name}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>









</div>